App/ITalker/.idea/
App/ITalker/.gradle/
App/ITalker/build/
Web/iTalker/.idea/
Web/iTalker/build/
App/ITalker/common/common.iml
App/ITalker/app/app.iml
App/ITalker/common/common.iml
App/ITalker/lang/lang.iml
App/ITalker/local.properties
App/ITalker/local.properties
